/* Add Categories */
	form.js-ticket-form{display:inline-block; width: 100%; margin-top: 17px;}
	div.js-ticket-add-form-wrapper{float: left;width: 100%;}
	form#adminForm {padding:10px;}
	div.js-ticket-add-form-wrapper div.js-ticket-from-field-wrp{float: left;width: calc(100% / 2 - 10px);margin: 0px 5px; margin-bottom: 20px; }
	div.js-ticket-add-form-wrapper div.js-ticket-from-field-wrp.js-ticket-from-field-wrp-full-width{float: left;width: calc(100% / 1 - 10px); margin-bottom: 20px; }
	div.js-ticket-add-form-wrapper div.js-ticket-from-field-wrp div.js-ticket-from-field-title{float: left;width: 100%;margin-bottom: 5px;}
	div.js-ticket-add-form-wrapper div.js-ticket-from-field-wrp div.js-ticket-from-field{float: left;width: 100%;}
	div.js-ticket-add-form-wrapper div.js-ticket-from-field-wrp div.js-ticket-from-field textarea#metadesc{float: left;width: 100%;} 
    div.js-ticket-add-form-wrapper div.js-ticket-from-field-wrp div.js-ticket-from-field textarea#metadesc {padding: 10px;line-height: initial;min-height: 90px;margin-bottom: 0px;border-radius: 0px;}
	div.js-ticket-add-form-wrapper div.js-ticket-from-field-wrp div.js-ticket-from-field input.js-ticket-form-field-input{float: left;width: 100%;border-radius: 0px;padding: 10px;min-height: 50px;margin-bottom: 0px;}
	div.js-ticket-add-form-wrapper div.js-ticket-from-field-wrp div.js-ticket-from-field select#categoryid{float: left;width: 100%;border-radius: 0px;background: url(../../images/selecticon.png) 96% / 4% no-repeat;}
	div.js-ticket-add-form-wrapper div.js-ticket-from-field-wrp div.js-ticket-from-field select.js-ticket-form-field-select{float: left;width: 100%;border-radius: 0px;background: url(../../images/selecticon.png) 96% / 4% no-repeat;}
	div.js-ticket-add-form-wrapper div.js-ticket-from-field-wrp div.js-ticket-from-field select#status{float: left;width: 100%;border-radius: 0px;background: url(../../images/selecticon.png) 96% / 4% no-repeat ;min-height: 50px;margin-bottom: 0px;padding: 10px;background-size: 13px;}
	div.js-ticket-add-form-wrapper div.js-ticket-from-field-wrp div.js-ticket-from-field select#parentid{float: left;width: 100%;border-radius: 0px;background: url(../../images/selecticon.png) 96% / 4% no-repeat ;min-height: 50px;margin-bottom: 0px;padding: 10px;background-size: 13px;}
	div.js-ticket-form-btn-wrp{float: left;width:calc(100% - 20px);margin: 0px 10px;text-align: center;padding: 25px 0px 10px 0px;}
	div.js-ticket-form-btn-wrp input.js-ticket-save-button{padding: 15px 10px;margin-right: 10px;min-width: 120px;border-radius: 0px;}
	span.js-ticket-sub-fields{float:left;display: inline-block;width: calc(100% / 4 - 10px);margin-left: 5px;margin-right: 5px;padding: 10px;height: 50px;}
	div.js-ticket-form-btn-wrp a.js-ticket-cancel-button {display: inline-block;padding: 15px 10px;min-width: 120px;border-radius: 0px;line-height: initial;text-decoration: none;}
	input#kb{width: auto;vertical-align: text-bottom;margin-right: 2px !important;}
	input#downloads{width: auto;vertical-align: text-bottom;margin-right: 2px !important;}
	input#announcement{width: auto;vertical-align: text-bottom;margin-right: 2px !important;}
	input#faqs{width: auto;vertical-align: text-bottom;margin-right: 2px !important;}
	label#forkb{display: inline-block;margin: 0px; }
	label#fordownloads{display: inline-block;margin: 0px; }
	label#forannouncement{display: inline-block;margin: 0px; }
	label#forfaqs{display: inline-block;margin: 0px; }
	input#append1{vertical-align: sub;}
	label#forappend{display: inline-block;margin: 0px;}
	div.js-ticket-radio-btn-wrp{float: left;width: 100%;padding: 11px}
	div.js-ticket-radio-btn-wrp input.js-ticket-form-field-radio-btn{margin:right: 5px; vertical-align: middle;width: auto;}
	div.js-ticket-radio-btn-wrp label#forsendmail{margin: 0px;display: inline-block; margin-right: 30px;}
	img.js-ticket-category-img{position: absolute;left: 0;top: 0;right: 0;bottom: 0;margin: auto;}
	div.js-ticket-from-field{position: relative;}
	div#msgshowcategory{float: left;width: 100%;}
	div#msgshowcategory div.js-ticket-notice-wrapper{float: left; box-sizing:border-box;padding: 15px;margin-bottom: 10px; width: 100%;}
	div#msgshowcategory div.js-ticket-notice-wrapper div.js-ticket-notice{float: left;width: auto;margin: 0px 5px 0px 0px;}
	div#msgshowcategory div.js-ticket-notice-wrapper div.js-ticket-question{float: left;width: auto;}
	div.js-ticket-answer-btn{float: left;width: 100%;padding-top: 10px;}
	div.js-ticket-answer-btn a.js-ticket-yes{display: inline-block;min-width: 100px;text-align: center;padding: 8px 5px;margin:0px 10px 0px 0px;}
	div.js-ticket-answer-btn a.js-ticket-no{display: inline-block;min-width: 100px;text-align: center;padding: 8px 5px;}
	span.help-block{font-size:11px;}
	span.help-block{color:red;}
	input[type="file"] {height: unset !important;}
	select ::-ms-expand {display:none !important;}
	select{-webkit-appearance:none !important;}
	span#js-form-choose-logo-inst{display: inline-block; margin-top: 5px;font-size: 11px; }