/* Department Reports */
	div.js-ticket-downloads-wrp{float: left;width: 100%;margin-top: 0px;}
	div.js-ticket-downloads-wrp div.js-ticket-downloads-heading-wrp{float: left;width: 100%;padding: 15px 10px;font-size: 16px;text-transform: capitalize;}
	div.js-ticket-staff-report-wrapper{float: left;width: 100%;margin-top: 20px;}
	input#jsst-date-start{background-image: url(../../images/ticketdetailicon/calender.png);background-repeat: no-repeat;background-position: 97% 14px;}
	input#jsst-date-end{background-image: url(../../images/ticketdetailicon/calender.png);background-repeat: no-repeat;background-position: 97% 14px;}
	div.js-admin-report-box-wrapper{float:left;width:100%;margin-top:20px;margin-bottom: 10px;}
	div.js-ticket-download-content-wrp-mtop{margin-top: 30px;}
	div.js-ticket-pie-chart-wrapper{float: left;width: 100%;margin-top: 20px;}
	div.js-admin-report-box-wrapper.js-admin-controlpanel div.js-admin-box{margin-right: 0px;}
	div.js-admin-report-box-wrapper div.js-admin-box.js-col-md-offset-2{margin-left:11%;}
	div.js-admin-report-box-wrapper.js-admin-controlpanel div.js-admin-box.js-col-md-offset-2{margin-left:0px;}
	div.js-admin-report-box-wrapper div.js-admin-box div.js-admin-box-image{padding:5px;}
	div.js-admin-report-box-wrapper div.js-admin-box div.js-admin-box-image img{max-width: 100%;max-height: 100%;}
	div.js-admin-report-box-wrapper div.js-admin-box div.js-admin-box-content{padding:5px;}
	div.js-admin-report-box-wrapper div.js-admin-box div.js-admin-box-content div.js-admin-box-content-number{text-align: right;font-size:24px;font-weight: bold;}
	a.js-admin-report-wrapper{float:left;display: block;width:95%;font-size:18px;}
	a.js-admin-report-wrapper:hover{text-decoration: none;}
	div.js-admin-staff-wrapper.js-departmentlist{padding: 10px;}
	div.js-admin-staff-wrapper.js-departmentlist div.departmentname{font-size: 20px;}
	div.js-admin-staff-wrapper.js-departmentlist div.jsposition-reletive{padding-top: 30px;}
	div.js-admin-staff-wrapper.js-departmentlist div.jsposition-reletive div.departmentname{}
	div.js-admin-staff-wrapper.padding{padding:10px;}
	div.js-admin-staff-wrapper .nopadding{padding:0px;}
	div.js-admin-staff-wrapper div.js-report-staff-image-wrapper{margin:0px;padding:0px;}
	div.js-admin-staff-wrapper div.js-report-staff-image-wrapper img.js-report-staff-pic{max-width:100%;max-height:90px;margin:0 auto;display: block;}
	div.js-admin-staff-wrapper div.js-report-staff-name{display: block;padding:3px 0px;font-weight: bold;font-size: 15px;color:#666666;border-bottom:1px solid #cccccc;margin-bottom:5px;}
	a.js-admin-staff-anchor-wrapper{display: inline-block;width: 100%;padding:10px;float:left;}
	table.js-admin-report-tickets{width:100%;}
	table.js-admin-report-tickets tr td span.js-responsive-heading{display:none;}
	a.js-admin-report-butonright{float:right;}
	div#js-admin-ticketviaemail-bar{display: none;float:left;height:25px;width:35%;background:url(../../images/progress_bar.gif);background-size: 100% 100%;margin-left:20px;margin-top:5px;}
	div#js-admin-ticketviaemail-text{display:none;padding:10px 0px;}
	a#js-admin-ticketviaemail img{position: absolute;top:3px;left:5px;}
	div#js-admin-ticketviaemail-msg{padding:10px;display:inline-block;float:none;margin-top:5px;border-radius: 4px;margin-bottom:10px;}
	div.js-admin-ticketviaemail-wrapper-checksetting{margin-top:10px;}
	span.js-relative{position: relative;}
	span.js-relative img.js-relative-image{position: absolute;top:60px;right:0px;}
	div#tabs.tabs{float: left; width:100%}
	div.js-form-wrapper div.js-form-wrapper {padding-left: 2%;}
	div.js-form-wrapper div.js-form-value.js-assingtome-chkbox{padding: 6px 15px;}
	div.js-form-wrapper div.js-form-value.js-assingtome-chkbox label#forassigntome{padding-left: 4px;}
	div#pie3d_chart1{}
	div#records div.jsst_userpages{text-align: right;padding:5px; margin: 10px 5px;width: calc(100% - 10px);}
	div#records div.jsst_userpages a.jsst_userlink{display: inline-block;padding:5px 10px;margin-left:5px;text-decoration: none;background:rgba(0, 0, 0, 0.05) none repeat scroll 0 0;}
	div#records div.jsst_userpages span.jsst_userlink{display: inline-block;padding:5px 15px;margin-left:5px;}
	form div.js-form-wrapper div.js-form-value input#sendmail2.radiobutton{margin-left: 15px;}
	h1.js-department-margin{padding-top: 15px;}
	.leftrightnull{padding-left: 0px; padding-right: 0px;}
	.icon-calendar::before {content: url(../../images/calender.png) !important;}